<div class="row">
    <div class="col-3">
        <h3>Register</h3>
        <hr />
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">               
                <label for="nickname">Username</label>
                <input type="text" id="nickname" formControlName="nickname" class="form-control">

                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password" class="form-control">
                <label for="repeatPassword">Repeat password</label>
                <input type="password" id="repeatPassword" formControlName="repeatPassword" class="form-control">

                <label for="email">Email</label>
                <input type="email" id="email" formControlName="email" class="form-control">
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Register</button> |
                <button class="btn btn-danger" [routerLink]="['/']">Cancel</button>
            </div>
        </form>
    </div>
</div>