<div class="row">
    <div class="col-3">
        <h3>Register</h3>
        <hr />
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">

                <div *ngIf="registerForm.errors?.['mismatch'] && (registerForm.touched || registerForm.dirty)" class="cross-validation-error-message alert alert-danger">
                    Passwords have to match.
                </div>

                <label for="nickname">Username</label>
                <div class="text-danger" *ngIf="form['nickname'].errors?.['required'] && form['nickname'].touched">
                    This field is required.
                </div>
                <div class="text-danger" *ngIf="form['nickname'].errors?.['minlength'] && form['nickname'].touched">
                    The minimum length for this field is 4 characters.
                </div>
                <input type="text" id="nickname" formControlName="nickname" class="form-control">

                <label for="password">Password</label>
                <div class="text-danger" *ngIf="form['password'].errors?.['required'] && form['password'].touched">
                    This field is required.
                </div>
                <div class="text-danger" *ngIf="form['password'].errors?.['minlength'] && form['password'].touched">
                    The minimum length for this field is 4 characters.
                </div>
                <input type="password" id="password" formControlName="password" class="form-control">

                <label for="repeatPassword">Repeat password</label>
                <div class="text-danger" *ngIf="form['repeatPassword'].errors?.['required'] && form['repeatPassword'].touched">
                    This field is required.
                </div>
                <div class="text-danger" *ngIf="form['repeatPassword'].errors?.['minlength'] && form['repeatPassword'].touched">
                    The minimum length for this field is 4 characters.
                </div>
                <input type="password" id="repeatPassword" formControlName="repeatPassword" class="form-control">

                <label for="email">Email</label>
                <div class="text-danger" *ngIf="form['email'].errors?.['required'] && form['email'].touched">
                    This field is required.
                </div>
                <div class="text-danger" *ngIf="form['email'].errors?.['email'] && form['email'].touched">
                    Email adress must be valid.
                </div>
                <input type="email" id="email" formControlName="email" class="form-control">
            </div>

            <div>
                <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button> |
                <button class="btn btn-danger" [routerLink]="['/']">Cancel</button>
            </div>
        </form>
    </div>
</div>