<div class="row">
    <div class="col-3">
        <h3>Login</h3>
        <hr />
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">               
                <label for="nickname">Username</label>
                <input type="text" id="nickname" formControlName="nickname" class="form-control">

                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password" class="form-control">
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Login</button> |
                <button class="btn btn-danger" [routerLink]="['/']">Cancel</button>
            </div>
        </form>
    </div>
</div>