<h3 *ngIf="!isEditing">Create</h3>
<div *ngIf="isEditing">
    <h3>Edit</h3>
    <h4><span *ngFor="let a of artists; index as i">{{a.name}}<span *ngIf="i<artists.length-1">, </span></span> -
        {{songDetail.name}}</h4>
</div>
<div class="row">
    <div class="col-6">

        
        <form [formGroup]="songForm" (ngSubmit)="onSubmit()">
            <div class="form-group">

                <label for="name">Artists</label>

                <app-artistsong-edit *ngFor="let a of artists" [songId]="songDetail.id" [artistId]="a.id"></app-artistsong-edit>
                <!-- <app-artistsong-edit [songId]="songDetail.id"></app-artistsong-edit> -->

                <label for="name">Name</label>
                <input type="text" id="name" formControlName="name" class="form-control">

                <label for="filePath">File Path</label>
                <input type="text" id="filePath" formControlName="filePath" class="form-control">

                <label for="duration">Duration</label>
                <input type="text" id="duration" formControlName="duration" class="form-control">

                <label for="genreId">Genre Id</label>
                <input type="text" id="genreId" formControlName="genreId" class="form-control">

            </div>

            <button type="submit" class="btn btn-success">Save</button> |
            <button type="submit" class="btn btn-danger" [routerLink]="['/songlist']">Cancel</button>
        </form>
    </div>
</div>